# Configuration file

conflicting {
    B:"ALT Key" <
        false
        false
        false
     >
    B:"Activate Hover Harness" <
        false
        false
        false
     >
    B:"Baubles Inventory" <
        false
        false
        false
     >
    B:"Boost Key" <
        false
        false
        false
     >
    B:"Change Wand Focus" <
        false
        false
        false
     >
    B:"Clear path" <
        false
        false
        false
     >
    B:"Draw Weapons" <
        false
        false
        false
     >
    B:Field <
        false
        false
        false
     >
    B:"Glider Toggle" <
        false
        false
        false
     >
    B:"Goggles of Revealing" <
        false
        false
        false
     >
    B:"Gravi Display Hud" <
        false
        false
        false
     >
    B:"Gravi Fly Key" <
        false
        false
        false
     >
    B:"Gravity Resist" <
        false
        false
        false
     >
    B:"Helmet HUD" <
        false
        false
        false
     >
    B:"Hub Expand Key" <
        false
        false
        false
     >
    B:"Mekanism Mode Switch" <
        false
        false
        false
     >
    B:"Mekanism Voice" <
        false
        false
        false
     >
    B:"Mode Switch Key" <
        false
        false
        false
     >
    B:"Night Vision" <
        false
        false
        false
     >
    B:"PcktCrft Open (FZ)" <
        false
        false
        false
     >
    B:"Pneumatic Helmet Hack" <
        false
        false
        false
     >
    B:"Pneumatic Helmet Options" <
        false
        false
        false
     >
    B:"Show Binds Console" <
        false
        false
        false
     >
    B:"Show/Hide crumbs" <
        false
        false
        false
     >
    B:"Side Inventory Key" <
        false
        false
        false
     >
    B:"Sound Locator" <
        false
        false
        false
     >
    B:Special <
        false
        false
        false
     >
    B:Speed <
        false
        false
        false
     >
    B:"Sprint (FZ)" <
        false
        false
        false
     >
    B:"Step Assist" <
        false
        false
        false
     >
    B:"Switch mode" <
        false
        false
        false
     >
    B:TG.keybind.openInv <
        false
        false
        false
     >
    B:Tool-Switcher <
        false
        false
        false
     >
    B:"Turn on/off" <
        false
        false
        false
     >
    B:"Yeta Wrench Mode" <
        false
        false
        false
     >
    B:"Zoom using monacle" <
        false
        false
        false
     >
    B:flora.key.Ender <
        false
        false
        false
     >
    B:flora.key.Fire <
        false
        false
        false
     >
    B:invtweaks.key.sort <
        false
        false
        false
     >
    B:key.AuraCustomization <
        false
        false
        false
     >
    B:key.CastingMode <
        false
        false
        false
     >
    B:key.SpellBookNext <
        false
        false
        false
     >
    B:key.SpellBookPrev <
        false
        false
        false
     >
    B:key.ToggleManaDisplay <
        false
        false
        false
     >
    B:key.activate <
        false
        false
        false
     >
    B:key.betterstorage.backpackOpen <
        false
        false
        false
     >
    B:key.betterstorage.drinkingHelmet <
        false
        false
        false
     >
    B:key.binder <
        false
        false
        false
     >
    B:key.command <
        false
        false
        false
     >
    B:key.control <
        false
        false
        false
     >
    B:key.craftingGrid <
        false
        false
        false
     >
    B:key.journeymap.create_waypoint <
        false
        false
        false
     >
    B:key.journeymap.day <
        false
        false
        false
     >
    B:key.journeymap.map_toggle <
        false
        false
        false
     >
    B:key.journeymap.minimap_preset <
        false
        false
        false
     >
    B:key.journeymap.night <
        false
        false
        false
     >
    B:key.journeymap.zoom_in <
        false
        false
        false
     >
    B:key.journeymap.zoom_out <
        false
        false
        false
     >
    B:key.mw_new_marker <
        false
        false
        false
     >
    B:key.mw_next_map_mode <
        false
        false
        false
     >
    B:key.mw_next_marker_group <
        false
        false
        false
     >
    B:key.mw_open_gui <
        false
        false
        false
     >
    B:key.mw_teleport <
        false
        false
        false
     >
    B:key.mw_underground_mode <
        false
        false
        false
     >
    B:key.mw_zoom_in <
        false
        false
        false
     >
    B:key.mw_zoom_out <
        false
        false
        false
     >
    B:key.openCompendium <
        false
        false
        false
     >
    B:key.open_menu <
        false
        false
        false
     >
    B:key.ping <
        false
        false
        false
     >
    B:key.smoothCamera <
        false
        false
        false
     >
    B:key.sprint <
        false
        false
        false
     >
    B:key.streamCommercial <
        false
        false
        false
     >
    B:key.streamPauseUnpause <
        false
        false
        false
     >
    B:key.streamStartStop <
        false
        false
        false
     >
    B:key.streamToggleMic <
        false
        false
        false
     >
    B:key.tarmor <
        false
        false
        false
     >
    B:key.tbelt <
        false
        false
        false
     >
    B:key.tgoggles <
        false
        false
        false
     >
    B:key.toggle <
        false
        false
        false
     >
    B:key.tzoom <
        false
        false
        false
     >
    B:railcraft.keybind.loco.faster <
        false
        false
        false
     >
    B:railcraft.keybind.loco.mode <
        false
        false
        false
     >
    B:railcraft.keybind.loco.slower <
        false
        false
        false
     >
    B:railcraft.keybind.loco.whistle <
        false
        false
        false
     >
    B:ttmisc.toggleArmor <
        false
        false
        false
     >
    B:waila.keybind.liquid <
        false
        false
        false
     >
    B:waila.keybind.recipe <
        false
        false
        false
     >
    B:waila.keybind.usage <
        false
        false
        false
     >
    B:waila.keybind.wailaconfig <
        false
        false
        false
     >
    B:waila.keybind.wailadisplay <
        false
        false
        false
     >
}


"dark steel armor" {
    B:"Glider Toggle" <
        false
        false
        false
     >
    B:"Goggles of Revealing" <
        false
        false
        false
     >
    B:"Night Vision" <
        false
        false
        false
     >
    B:"Sound Locator" <
        false
        false
        false
     >
    B:Speed <
        false
        false
        false
     >
    B:"Step Assist" <
        false
        false
        false
     >
}


flora {

    key {

        category {
            B:flora.key.Ender <
                false
                false
                false
             >
            B:flora.key.Fire <
                false
                false
                false
             >
        }

    }

}


gravisuite {
    B:"Gravi Display Hud" <
        false
        false
        false
     >
    B:"Gravi Fly Key" <
        false
        false
        false
     >
}


"hardcore ender expansion" {
    B:key.openCompendium <
        false
        false
        false
     >
}


ic2 {
    B:"ALT Key" <
        false
        false
        false
     >
    B:"Boost Key" <
        false
        false
        false
     >
    B:"Hub Expand Key" <
        false
        false
        false
     >
    B:"Mode Switch Key" <
        false
        false
        false
     >
    B:"Side Inventory Key" <
        false
        false
        false
     >
}


invtweaks {

    key {

        category {
            B:invtweaks.key.sort <
                false
                false
                false
             >
        }

    }

}


journeymap {
    B:key.journeymap.create_waypoint <
        false
        false
        false
     >
    B:key.journeymap.day <
        false
        false
        false
     >
    B:key.journeymap.map_toggle <
        false
        false
        false
     >
    B:key.journeymap.minimap_preset <
        false
        false
        false
     >
    B:key.journeymap.night <
        false
        false
        false
     >
    B:key.journeymap.zoom_in <
        false
        false
        false
     >
    B:key.journeymap.zoom_out <
        false
        false
        false
     >
}


key {

    endertech {

        tools {
            B:"Tool Decrease" <
                false
                false
                false
             >
            B:"Tool Increase" <
                false
                false
                false
             >
        }

    }

    am2 {

        category {
            B:key.AuraCustomization <
                false
                false
                false
             >
            B:key.CastingMode <
                false
                false
                false
             >
            B:key.SpellBookNext <
                false
                false
                false
             >
            B:key.SpellBookPrev <
                false
                false
                false
             >
            B:key.ToggleManaDisplay <
                false
                false
                false
             >
        }

    }

    categories {

        misc {
            B:"Activate Hover Harness" <
                false
                false
                false
             >
            B:"Change Wand Focus" <
                false
                false
                false
             >
            B:"Zoom using monacle" <
                false
                false
                false
             >
            B:key.ping <
                false
                false
                false
             >
        }

        inventory {
            B:"Baubles Inventory" <
                false
                false
                false
             >
            B:TG.keybind.openInv <
                false
                false
                false
             >
        }

        gameplay {
            B:"Draw Weapons" <
                false
                false
                false
             >
            B:Special <
                false
                false
                false
             >
            B:key.activate <
                false
                false
                false
             >
            B:key.betterstorage.backpackOpen <
                false
                false
                false
             >
            B:key.betterstorage.drinkingHelmet <
                false
                false
                false
             >
            B:key.binder <
                false
                false
                false
             >
            B:key.control <
                false
                false
                false
             >
            B:key.craftingGrid <
                false
                false
                false
             >
            B:key.open_menu <
                false
                false
                false
             >
            B:key.toggle <
                false
                false
                false
             >
        }

        item {
            B:"PcktCrft Open (FZ)" <
                false
                false
                false
             >
        }

        movement {
            B:"Sprint (FZ)" <
                false
                false
                false
             >
        }

    }

    pneumaticcraft {

        category {
            B:"Pneumatic Helmet Hack" <
                false
                false
                false
             >
            B:"Pneumatic Helmet Options" <
                false
                false
                false
             >
        }

    }

}


mapwriter {
    B:key.mw_new_marker <
        false
        false
        false
     >
    B:key.mw_next_map_mode <
        false
        false
        false
     >
    B:key.mw_next_marker_group <
        false
        false
        false
     >
    B:key.mw_open_gui <
        false
        false
        false
     >
    B:key.mw_teleport <
        false
        false
        false
     >
    B:key.mw_underground_mode <
        false
        false
        false
     >
    B:key.mw_zoom_in <
        false
        false
        false
     >
    B:key.mw_zoom_out <
        false
        false
        false
     >
}


mekanism {
    B:"Mekanism Mode Switch" <
        false
        false
        false
     >
    B:"Mekanism Voice" <
        false
        false
        false
     >
}


minecraft {
    B:"ALT Key" <
        false
        false
        false
     >
    B:"Boost Key" <
        false
        false
        false
     >
    B:"Draw Weapons" <
        false
        false
        false
     >
    B:"Gravi Display Hud" <
        false
        false
        false
     >
    B:"Gravi Fly Key" <
        false
        false
        false
     >
    B:"Hub Expand Key" <
        false
        false
        false
     >
    B:"Mode Switch Key" <
        false
        false
        false
     >
    B:"PcktCrft Open (FZ)" <
        false
        false
        false
     >
    B:"Side Inventory Key" <
        false
        false
        false
     >
    B:Special <
        false
        false
        false
     >
    B:"Sprint (FZ)" <
        false
        false
        false
     >
    B:"Tool Decrease" <
        false
        false
        false
     >
    B:"Tool Increase" <
        false
        false
        false
     >
    B:key.attack <
        false
        false
        false
     >
    B:key.back <
        false
        false
        false
     >
    B:key.binder <
        false
        false
        false
     >
    B:key.chat <
        false
        false
        false
     >
    B:key.command <
        false
        false
        false
     >
    B:key.drop <
        false
        false
        false
     >
    B:key.forward <
        false
        false
        false
     >
    B:key.fullscreen <
        false
        false
        false
     >
    B:key.hotbar.1 <
        false
        false
        false
     >
    B:key.hotbar.2 <
        false
        false
        false
     >
    B:key.hotbar.3 <
        false
        false
        false
     >
    B:key.hotbar.4 <
        false
        false
        false
     >
    B:key.hotbar.5 <
        false
        false
        false
     >
    B:key.hotbar.6 <
        false
        false
        false
     >
    B:key.hotbar.7 <
        false
        false
        false
     >
    B:key.hotbar.8 <
        false
        false
        false
     >
    B:key.hotbar.9 <
        false
        false
        false
     >
    B:key.inventory <
        false
        false
        false
     >
    B:key.jump <
        false
        false
        false
     >
    B:key.left <
        false
        false
        false
     >
    B:key.openCompendium <
        false
        false
        false
     >
    B:key.open_menu <
        false
        false
        false
     >
    B:key.pickItem <
        false
        false
        false
     >
    B:key.playerlist <
        false
        false
        false
     >
    B:key.right <
        false
        false
        false
     >
    B:key.screenshot <
        false
        false
        false
     >
    B:key.smoothCamera <
        false
        false
        false
     >
    B:key.sneak <
        false
        false
        false
     >
    B:key.sprint <
        false
        false
        false
     >
    B:key.streamCommercial <
        false
        false
        false
     >
    B:key.streamPauseUnpause <
        false
        false
        false
     >
    B:key.streamStartStop <
        false
        false
        false
     >
    B:key.streamToggleMic <
        false
        false
        false
     >
    B:key.togglePerspective <
        false
        false
        false
     >
    B:key.use <
        false
        false
        false
     >
}


notenoughkeys {
    B:"Show Binds Console" <
        false
        false
        false
     >
}


railcraft {
    B:railcraft.keybind.loco.faster <
        false
        false
        false
     >
    B:railcraft.keybind.loco.mode <
        false
        false
        false
     >
    B:railcraft.keybind.loco.slower <
        false
        false
        false
     >
    B:railcraft.keybind.loco.whistle <
        false
        false
        false
     >
}


rpgadvmod {
    B:"Clear path" <
        false
        false
        false
     >
    B:"Show/Hide crumbs" <
        false
        false
        false
     >
}


"simply jetpacks" {
    B:"Switch mode" <
        false
        false
        false
     >
    B:"Turn on/off" <
        false
        false
        false
     >
}


"smt: gravity armor" {
    B:Field <
        false
        false
        false
     >
    B:"Gravity Resist" <
        false
        false
        false
     >
    B:"Helmet HUD" <
        false
        false
        false
     >
    B:Tool-Switcher <
        false
        false
        false
     >
}


tconstruct {

    keybindings {
        B:key.tarmor <
            false
            false
            false
         >
        B:key.tbelt <
            false
            false
            false
         >
        B:key.tgoggles <
            false
            false
            false
         >
        B:key.tzoom <
            false
            false
            false
         >
    }

}


tools {
    B:"Yeta Wrench Mode" <
        false
        false
        false
     >
}


ttmisc {

    keycategory {
        B:ttmisc.toggleArmor <
            false
            false
            false
         >
    }

}


waila {
    B:waila.keybind.liquid <
        false
        false
        false
     >
    B:waila.keybind.recipe <
        false
        false
        false
     >
    B:waila.keybind.usage <
        false
        false
        false
     >
    B:waila.keybind.wailaconfig <
        false
        false
        false
     >
    B:waila.keybind.wailadisplay <
        false
        false
        false
     >
}


